In [266]:
import numpy as np
import keras as K
import tensorflow as tf
import pandas as pd
import math

In [267]:
X = pd.read_csv("Desktop/train.csv")
#X.head()
#np.delete( X, 1, 1)
print(X)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  -1.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500    -1        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250    -1        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500    -1        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000    -1        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500    -1        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500    -1        Q

[891 rows x 12 columns]

In [268]:
y = X["Survived"]
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [269]:
del X['Survived']
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,-1,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,-1,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,-1,S

In [270]:
test_data = pd.read_csv("Desktop/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,-1,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,-1,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,-1,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,-1,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,-1,S

In [271]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% women survived:", rate_women)

% women survived: 0.7420382165605095

In [272]:

men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% men survived:", rate_men)

% men survived: 0.18890814558058924

In [273]:

#from sklearn.ensemble import RandomForestClassifier

#features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked", "Fare", "Age"]
#X = pd.get_dummies(train_data[features])
#X_test = pd.get_dummies(test_data[features])

#model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
#model.fit(X, y)
#predictions = model.predict(X_test)

#output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
#output.to_csv('Desktop/my_submission2.csv', index=False)

In [274]:
from keras.models import Sequential
from keras.layers import Dense, Activation

In [275]:
print(np.shape(X))

(891, 11)

In [276]:
model = Sequential()

model.add(Dense(500, input_dim = 891))
model.add(Activation('relu'))

model.add(Dense(200))
model.add(Activation('relu'))

model.add(Dense(70))
model.add(Activation('relu'))

model.add(Dense(30))
model.add(Activation('relu'))

model.add(Dense(15))
model.add(Activation('sigmoid'))

model.add(Dense(5))
model.add(Activation('tanh'))

model.add(Dense(1))
model.add(Activation('softmax'))

In [277]:
model.compile(optimizer = 'rmsprop', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [278]:
model.fit(X, y, epochs=10, batch_size=1)

ValueError: Error when checking input: expected dense_102_input to have shape (891,) but got array with shape (11,)