In [393]:
import numpy as np
import keras as K
import tensorflow as tf
import pandas as pd
import math

In [394]:
X = pd.read_csv("Desktop/train.csv")
X.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,-1,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,-1,S

In [395]:
y = X["Survived"]
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [396]:

del X['Survived']
del X['Name']
del X['Ticket']
del X['Cabin']
del X['Parch']
del X['PassengerId']
del X['SibSp']
X.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

In [397]:
test_data = pd.read_csv("Desktop/test.csv")

del test_data['Name']
del test_data['Ticket']
del test_data['Cabin']
del test_data['Parch']
del test_data['PassengerId']
del test_data['SibSp']
test_data.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  34.5   7.8292        Q
1       3  female  47.0   7.0000        S
2       2    male  62.0   9.6875        Q
3       3    male  27.0   8.6625        S
4       3  female  22.0  12.2875        S

In [398]:
for i in range(0, len(X)):
    if X['Fare'][i] <= 7.91:
        X['Fare'][i] = 0
    elif (X['Fare'][i] > 7.91) & (X['Fare'][i] <=14.454):
        X['Fare'][i] = 1
    elif (X['Fare'][i] > 14.454) & (X['Fare'][i] <=31):
        X['Fare'][i] = 2
    elif X['Fare'][i] > 31:
        X['Fare'][i] = 3
        
    if X['Age'][i] <= 16:
        X['Age'][i] = 0
    elif (X['Age'][i] > 16) & (X['Age'][i] <= 32):
        X['Age'][i] = 1
    elif (X['Age'][i] > 32) & (X['Age'][i] <= 48):
        X['Age'][i] = 2
    elif (X['Age'][i] > 48) & (X['Age'][i] <= 64):
        X['Age'][i] = 3
    elif X['Age'][i] > 64:
        X['Age'][i] = 4
    
    if X['Sex'][i] == "male":
        X['Sex'][i] = 0
    elif X['Sex'][i] == "female":
        X['Sex'][i] = 1
        
    if X['Embarked'][i] == "C":
        X['Embarked'][i] = 0
    elif X['Embarked'][i] == "S":
        X['Embarked'][i] = 1
    elif X['Embarked'][i] == "Q":
        X['Embarked'][i] = 2

C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [399]:
for i in range(0, len(test_data)):
    if test_data['Fare'][i] <= 7.91:
        test_data['Fare'][i] = 0
    elif (test_data['Fare'][i] > 7.91) & (test_data['Fare'][i] <=14.454):
        test_data['Fare'][i] = 1
    elif (test_data['Fare'][i] > 14.454) & (test_data['Fare'][i] <=31):
        test_data['Fare'][i] = 2
    elif test_data['Fare'][i] > 31:
        test_data['Fare'][i] = 3
        
    if test_data['Age'][i] <= 16:
        test_data['Age'][i] = 0
    elif (test_data['Age'][i] > 16) & (test_data['Age'][i] <= 32):
        test_data['Age'][i] = 1
    elif (test_data['Age'][i] > 32) & (test_data['Age'][i] <= 48):
        test_data['Age'][i] = 2
    elif (test_data['Age'][i] > 48) & (test_data['Age'][i] <= 64):
        test_data['Age'][i] = 3
    elif test_data['Age'][i] > 64:
        test_data['Age'][i] = 4
    
    if test_data['Sex'][i] == "male":
        test_data['Sex'][i] = 0
    elif test_data['Sex'][i] == "female":
        test_data['Sex'][i] = 1
        
    if test_data['Embarked'][i] == "C":
        test_data['Embarked'][i] = 0
    elif test_data['Embarked'][i] == "S":
        test_data['Embarked'][i] = 1
    elif test_data['Embarked'][i] == "Q":
        test_data['Embarked'][i] = 2

C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\pratt\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [400]:
X.head()

   Pclass Sex  Age  Fare Embarked
0       3   0  1.0   0.0        1
1       1   1  2.0   3.0        0
2       3   1  1.0   1.0        1
3       1   1  2.0   3.0        1
4       3   0  2.0   1.0        1

In [401]:
test_data.head()

   Pclass Sex  Age  Fare Embarked
0       3   0  2.0   0.0        2
1       3   1  2.0   0.0        1
2       2   0  3.0   1.0        2
3       3   0  1.0   1.0        1
4       3   1  1.0   1.0        1

In [411]:
from keras.models import Sequential
from keras.layers import Dense, Activation
import keras.utils.np_utils.to_categorical

ModuleNotFoundError: No module named 'keras.utils.np_utils.to_categorical'; 'keras.utils.np_utils' is not a package

In [403]:
print(np.shape(X))

(891, 5)

In [408]:
model = Sequential()

model.add(Dense(500, input_dim = 891))
model.add(Activation('relu'))

model.add(Dense(200))
model.add(Activation('relu'))

model.add(Dense(70))
model.add(Activation('relu'))

model.add(Dense(30))
model.add(Activation('relu'))

model.add(Dense(15))
model.add(Activation('sigmoid'))

model.add(Dense(5))
model.add(Activation('tanh'))

model.add(Dense(1))
model.add(Activation('sigmoid'))

In [409]:
model.compile(optimizer = 'rmsprop', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [410]:
model.fit(X, y, epochs=10, batch_size=50)

ValueError: Error when checking input: expected dense_130_input to have shape (891,) but got array with shape (5,)